<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- Contents of this file were moved to db-mapping -->
<hibernate-configuration>
    <session-factory>
        <!-- Oracle settings for server mode -->
        <!--
                  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
                  <property name="hibernate.connection.url">jdbc:oracle:thin:@delphi:1521:test</property>
                  <property name="hibernate.connection.username">swf</property>
                  <property name="hibernate.connection.password">database</property>
                  <property name="dialect">org.hibernate.dialect.OracleDialect</property>
          -->
        <!-- Settings for using H2 for client mode-->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url"><![CDATA[jdbc:h2:test-output/TEST]]></property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- logging settings -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>

        <!-- c3p0 pooling settings -->
        <!--<property name="c3p0.min_size">5</property>
                <property name="c3p0.max_size">20</property>
                <property name="c3p0.timeout">300</property>
                <property name="c3p0.max_statements">50</property>
                <property name="c3p0.idle_test_period">3000</property>-->

        <mapping resource="edu/mayo/mprc/dbcurator/model/Curation.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/dbcurator/model/SourceDatabaseArchive.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/dbcurator/model/curationsteps/CurationStep.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/dbcurator/model/curationsteps/DataSource.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/dbcurator/model/curationsteps/HeaderTransform.hbm.xml"/>

        <mapping resource="edu/mayo/mprc/swift/dbmapping/EnabledEngines.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/FileSearch.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/PeptideReport.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/ReportData.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/SearchEngineConfig.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/SearchEngineParameters.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/SpectrumQa.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/SwiftSearchDefinition.hbm.xml"/>

        <mapping resource="edu/mayo/mprc/swift/dbmapping/TaskData.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/TaskStateData.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/SearchRun.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/workspace/User.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/swift/dbmapping/SwiftDBVersion.hbm.xml"/>

        <mapping resource="edu/mayo/mprc/database/Change.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/unimod/Mod.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/unimod/ModSpecificity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
