<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Mapping files -->
        <mapping resource="edu/mayo/mprc/database/Change.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/unimod/Mod.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/unimod/ModSet.hbm.xml"/>
        <mapping resource="edu/mayo/mprc/unimod/ModSpecificity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>